@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "./globals.css";

.container {
  overflow: visible;
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
  .row {
    gap: 0;
  }
}

h1 {
  width: 50%;
  font-family: "Manrope", sans-serif;
  font-size: 57px;
  font-weight: 200;
  padding-left: 50px;
}

.card-meow {
  margin-top: 150px;
  margin-bottom: 250px;

  .decorative-line {
    width: 50%;
    height: 30px;
    background-color: var(--yellow);

    &.first-line {
      margin-top: 20px;
      left: -50%;
    }

    &.second-line {
      margin-top: 200px;
      right: -50%;
    }

    .content {
      position: relative;
    }
  }

  .content {
    position: relative;
    margin-top: -65px;

    box-shadow: 10px 0 100px -5px var(--background-color-lightest),
      /* right */ -10px 0 100px -5px var(--background-color-lightest); /* left */

    img {
      width: 500px;
      height: auto;
      rotate: -10deg;
      border: 5px solid var(--background-color);
    }
  }
}

.landing-steps {
  h2 {
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-weight: 200;
    padding-left: 50px;
  }

  p {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-left: 50px;
  }

  .image {
    margin-top: 30px;

    &.image-one {
      margin-top: 0px;
      border: 20px solid var(--blue);
      width: 450px;
      height: auto;
    }

    &.image-two {
      border: 10px solid var(--red);
      width: 300px;
      height: auto;
    }

    &.image-three {
      border: 20px solid var(--yellow);
      width: 450px;
      height: auto;
    }

    &.image-four {
      border: 20px solid var(--red);
      width: 600px;
      height: 250px;
    }

    &.image-five {
      border: 20px solid var(--blue);
      width: 450px;
      height: auto;
    }

    &.image-six {
      border: 40px solid var(--yellow);
      width: 350px;
      height: auto;
    }
  }

  .arrow {
    &.arrow-one {
      width: 400px;
    }
    &.arrow-two {
      width: 4vw;
    }
    &.arrow-three {
      width: 8vw;
    }
    &.arrow-four {
      width: 8vw;
    }
    &.arrow-five {
      width: 15vw;
      margin-left: -30vw;
      transform: scale(1.3, 0.7);
    }
  }

  .row {
    gap: 0;

    &.row-flip {
      flex-direction: row-reverse;
    }
  }
}
