@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "./globals.css";

.row {
  gap: 0;
}

h1 {
  width: 50%;
  font-family: "Manrope", sans-serif;
  font-size: 57px;
  font-weight: 200;
  padding-left: 50px;
  margin-top: 10%;

  @media (max-width: 767px) {
    width: 100%;
    padding-left: 5px;
    font-size: 48px;
    margin-top: 50px;
  }
}

.card-meow {
  margin-bottom: 15%;
  margin-top: 10%;

  .decorative-line {
    width: 50%;
    height: 30px;
    background-color: var(--yellow);

    &.first-line {
      margin-bottom: 10%;
      left: -50%;
    }

    &.second-line {
      margin-top: 10%;
      right: -50%;
    }

    .content {
      position: relative;
    }
  }

  .content {
    position: relative;

    box-shadow: 10px 0 100px -5px var(--background-color-lightest),
      /* right */ -10px 0 100px -5px var(--background-color-lightest); /* left */

    img {
      width: 120%;
      height: auto;
      rotate: -10deg;
      border: 5px solid var(--background-color);
    }
  }

  @media (max-width: 767px) {
    margin-top: 20%;
    margin-bottom: 30%;
    .content {
      .image {
        width: 80vw;
      }
    }
    .decorative-line {
      &.first-line {
        margin-bottom: 0;
      }

      &.second-line {
        margin-top: 0;
      }
    }
  }
}

.landing-steps {
  margin-bottom: 10vw;

  .row {
    margin-top: 5%;
  }

  h2 {
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-weight: 200;
    margin-top: 5%;
  }

  p {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 200;
  }

  .image {
    margin-top: 30px;

    &.image-one {
      margin-top: 0px;
      border: 20px solid var(--blue);
      width: 70%;
      height: auto;
    }

    &.image-two {
      border: 10px solid var(--red);
      width: 60%;
      height: auto;
    }

    &.image-three {
      border: 20px solid var(--yellow);
      width: 70%;
      height: auto;
    }

    &.image-four {
      border: 20px solid var(--red);
      width: 600px;
      height: 250px;
    }

    &.image-five {
      border: 20px solid var(--blue);
      width: 70%;
      height: auto;
    }

    &.image-six {
      border: 40px solid var(--yellow);
      width: 350px;
      height: auto;
    }
  }

  .arrow {
    opacity: 0.2;
    &:not([data-theme="dark"]) {
      filter: invert(33%) sepia(100%) saturate(2928%) hue-rotate(186deg)
        brightness(92%) contrast(101%);
    }

    &.arrow-one {
      width: 25vw;
      transform: scale(1.8, 1);
      margin-right: -9vw;
      margin-bottom: -10vw;
    }
    &.arrow-two {
      width: 20vw;
      transform: rotate(-2deg) scale(1.6, 0.5);
      margin-left: -25vw;
      margin-bottom: -8vw;
    }
    &.arrow-three {
      width: 12vw;
      transform: scale(1.5, 1);
      margin-left: 60vw;
      margin-bottom: -20vw;
      margin-top: -7vw;
      z-index: 0;
    }
    &.arrow-four {
      width: 8vw;
      margin-top: 5vw;
      margin-bottom: -3vw;
      margin-left: -18vw;
      transform: scale(2, 1);
    }
    &.arrow-five {
      width: 15vw;
      margin-right: -20vw;
      margin-top: 5vw;
      transform: scale(2, 1) rotate(140deg) scaleX(-1);
    }
  }

  @media (max-width: 1200px) {
    .arrow {
      &.arrow-one,
      &.arrow-two,
      &.arrow-three,
      &.arrow-four,
      &.arrow-five {
        display: none;
      }
    }

    .h2 {
      width: 100vw;
    }

    .image {
      &.image-one,
      &.image-two,
      &.image-three,
      &.image-four,
      &.image-five,
      &.image-six {
        width: 100vw;
        border-width: 5px;
      }
    }

    @media (max-width: 767px) {
      margin-top: 15vh;
    }
  }

  .row {
    gap: 0;

    &.row-flip {
      flex-direction: row-reverse;
    }
  }
}
