@import "./globals.css";

.container {
  .heading-div {
    h1 {
      position: relative;
      font-size: 57px;
      color: var(--text-color);
      z-index: 1;
      font-family: "Manrope", sans-serif;
      font-size: 57px;
      font-weight: 200;
      padding-left: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        height: 1.5em;
        width: 80vw;
        background-color: var(--blue);
        z-index: -1;
        margin-left: 100px;

        @media (max-width: 767px) {
          left: 15px;
        }
      }

      @media (max-width: 1200px) {
        padding-left: 0;

        @media (max-width: 767px) {
          font-size: 44px;
        }
      }
    }
  }

  .rest-of-content {
    .row {
      gap: 0;
    }

    .vertical-line {
      position: relative;
      top: 0;
      left: 50%; /* Center the line horizontally in the container */
      transform: translateX(-50%);
      width: 2px; /* Adjust width as needed */
      height: 100px;
      background-color: var(--text-color); /* Color of the vertical line */
      z-index: 0; /* Ensure the line is behind the images */

      @media (max-width: 767px) {
        left: 95vw;
        position: absolute;
        height: 110vh;
        top: 20vh;
      }
    }

    .step-info {
      margin-top: 10vw;

      @media (max-width: 1200px) {
        margin-top: 5%;
      }
    }

    .board-game-info {
      margin-top: 10vw;

      @media (max-width: 1200px) {
        margin-top: 20vw;
      }
    }

    h3 {
      font-family: "Manrope", sans-serif;
      font-size: 28px;
      font-weight: 400;
      padding-left: 50px;

      @media (max-width: 1200px) {
        padding-left: 0;
      }
    }

    p {
      font-family: "Manrope", sans-serif;
      font-size: 20px;
      font-weight: 200;
      padding-left: 50px;

      @media (max-width: 1200px) {
        padding-left: 0;
        margin-right: 10vw;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    .image {
      margin-top: 0x;
      max-height: 400px;
      width: auto;
      z-index: 1;

      &.image-one {
        border: 12px solid var(--blue);
        rotate: -5deg;
      }

      &.image-two {
        border: 12px solid var(--yellow);
        rotate: 3deg;
      }

      @media (max-width: 1200px) {
        &.image-one,
        &.image-two {
          rotate: 0deg;
        }
      }
    }
  }

  .navigation-buttons {
    margin-top: 10vw;

    .nav-but {
      position: relative;
      width: 100%;
      background-color: var(--text-color);
      height: 50px;
    }

    .button-prev {
      background-color: var(--blue);
    }

    .button-next {
      margin-top: 20px;
      background-color: var(--red);
    }

    .arrow-one {
      width: 100px;
      margin-top: -2%;
      margin-left: 15%;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        width: 75px;
        margin-right: 10vw;
        margin-top: -3vw;
      }
    }

    .arrow-two {
      width: 100px;
      margin-top: -5%;
      margin-left: 20vw;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        width: 75px;
        margin-left: 10vw;
        margin-top: -12%;
      }
    }

    .link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
    }

    @media (max-width: 767px) {
      margin-top: 25vw;
    }
  }
}
